
html,body,#root,.divSum {
  width: 100%;
  height: 100%;
}

  .login-wrapper {
    width: 100%;
      height: 100%;
      background-image: url('login-bg.png');
      background-size: cover;
    background-repeat: none;
      background-position: 50%;
    position: relative;
  }
  .login-wrapper1 {
    width: 100%;
      height: 100%;
      /* background-image: url('login-bg.png'); */
      background-size: cover;
    background-repeat: none;
      background-position: 50%;
    position: relative;
  }
  .login-card {
    /* position: absolute; */
       right: -60%;
      /* top: 20%; */
    margin-top: 160px;
      width: 300px;
  }
  .login-card .ant-card-head {
    border-bottom: 1px solid #ddd;
  }
  .login-card1 {
    /* position: absolute; */
       right: -20%;
      /* top: 15%;
    margin-top: -130px; */
      width: 300px;
  }
  .ant-form-item-label {
    text-align: left;
  }
  .ant-form-item-required:before {
    display: none;
  }
  .verify-code-input {
    width: 100px;
  }
  .verify-code {
    height: 32px;
    position: relative;
    top: -2px;
    cursor: pointer
  }
  .login-btn {
    width: 100%;
  }
  .ant-alert {
    padding-left: 20px;
  }
  .ant-alert .ant-alert-icon {
    left: 0;
  }
  .sys-name-wrapper{
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
    color: #fff;
  }
  .footer-wrapper{
    position: absolute;
    z-index: 1000;
    bottom: 16px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    color: #333;
  }
  .footer-wrapper .footer-description{
    text-align: center;
  }
  .login-form {
    max-width: 300px;
    background-color: white;
    padding: 20px;
  }
.login-form-forgot {
    float: right;
  }
 .login-form-button {
    width: 100%;
  }
  .jn-ajax-form {
    padding-top: 150px;
  }

  #components-layout-demo-top-side .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }


  .ant-upload-list{
    display: none !important;
  }
  #components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }
  .ant-layout-sider {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    overflow: auto;
    flex: 0 0 auto !important;
    max-width: 500px !important;
    min-width: 250px !important;
    width: auto !important;
  }